.body {
  flex: 1;
  padding: 20px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;

    .element {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      max-width: 100%;

      h2 {
        color: #3789fe;
      }

      .sub-row {
        display: flex;
        max-width: 100%;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          color: #3789fe;
        }

        @media only screen and (max-width: 590px) {
          flex-wrap: wrap;
        }
      }
    }
  }
}
